# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ
.idea
out/

out*
out*.txt

# not yet
utilities

# VSCode
.classpath
.project
.settings
